.donate {
	padding: 25px 20px;
	
	
}

.about1{font-size: 25px; padding:20px;}

.about {
color:#1E90FF;
}

.img{color:#38687C;}

.abt-hd {color: #38687C;}

.pp{font-size: 16pt;}
.ppp{font-size: 14pt; font-weight: bold;}


.subscribe {
	background-color: #38687C;
}
.gallery{color: #38687C;}

.input-group-addon {
    color: #fff;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.sub-p
{
	color: white;
	font-size: 14px;
	padding: 10px 0px 15px;
}


.social ul li
{
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin-right: 10px;
}
.section-padding
{
	padding: 60px;
}
.about-title h2
{
	font-size: 24px;
	padding-bottom: 10px;
}
.img
{
	margin-top: 30px;
}
.img i
{
	font-size: 44px;
}
.subcription-info 
{
    width: 40%;
    margin: 0 auto 50px;
}
.abt-hd
{
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0px 15px;
}
.contact-title i {
    color: #FFFFFF;
    font-size: 1.8em;
    text-align: right;
    display: block;
    padding: 65px 0 0 0;
}
.contact-title h2
{
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0px 30px;
}
.contact-title p {
    text-align: right;
    margin-top: -5px;
    color: rgba(236,240,241,0.9);
    font-size: 13px;
    word-spacing: 1px;
    line-height: 25px;
    padding-bottom: 30px;
}
.contact input[type="text"], .contact input[type="email"] {
    width: 100%;
    background: transparent;
    border: 1px solid #EDEDED;
    margin-bottom: 20px;
    font-size: 13px;
    outline: none;
    color: #ffffff;
}
.social a i
{
    color: #fff;
    display: block;
    line-height: 48px;

}
.social a:hover
{
    text-decoration: none;
}
#contact-info
{
	padding: 0px 0px 40px;
}
.contact textarea {
    width: 100%;
    background: transparent;
    font-size: 13px;
    padding: 15px;
    height: 100px;
    border: 1px solid #EDEDED;
    outline: none;
    resize: none;
    margin-bottom: 5px;
    color: #ffffff;
}

.contact-submit {
    background-color: #24B7A4;
    border: 2px solid #24B7A4;
    color: #FFFFFF;
    width: 100%;
    display: block;
    word-spacing: 1px;
    outline: none;
    margin: 0 auto;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 700;
    padding: 10px;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}

footer {
    padding: 30px;
    color: #fff;
    text-align: center;
    background-color: #242830;
}
.footer a
{
    color: #24B7A4;
}
.credits {
    padding-top: 10px;
}

.subscribe_form {
    position: relative;
}
.subscribe_form .subscribe {
    right: 0px;
    top: 0px;
    width: 160px;
    height: 50px;
    position: absolute;
    color: #FFF;
    background-color: #24B7A4;
    border: medium none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; 
    font-size: 18px;
}
h2.subs-title  {
    font-size: 34px;
    padding: 30px 0px 20px;
	color: white;
}
.subscribe_form input {
    height: 50px;
    border: none;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    border-radius: 30px;
    color: #000;
}
.subscribe_form input[type=email]
{
    padding-left: 30px;
}
/**********************************
Media Queries
***********************************/
@media (min-width: 501px) and (max-width: 901px) {
    .contact-title{
        padding: 15px;
}
.section-padding {
        padding: 60px 30px;
}
.subscribe_form .subscribe {
    width: 100px;
    font-size: 15px;
}
.subcription-info {
        width: 60%;
        margin: 0 auto;
}
body{
    overflow-x:hidden; 
}
}
@media (min-width: 20px) and (max-width: 500px) {
    .contact-title{
        padding: 15px;
}
.section-padding {
        padding: 60px 30px;
}
.subscribe_form .subscribe {
    width: 100px;
    font-size: 15px;
}
.subcription-info {
        width: 80%;
        margin: 0 auto;
}
}

/*Navbar*/
.logo {
	width: 200px;
	
}


.navbar-nav {
	font-size: 23px;
	font-weight: bold;
}

.nav-link {
	color: #38687C;
	padding: 20px;
}

.nav-link:hover { 
    color: #AAC146;
}

.dropdown-toggle:onclick{color: #AAC146;}

.cimg {width: 1920px; height: 600px;}



.nav-item {
    display: inline-block;
    color: #AAC146;
    text-decoration: none;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #AAC146;
    transition: width .6s;
}

.nav-item:hover::after {
    width: 100%;
    transition: width .6s;
}

.red {
	color:#38687C;
}

/*Footer*/
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

.facebook {background-color: #38687C; }


.email {
    display: inline-block;
    color: #AAC146;
    text-decoration: none;
}

.email::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #AAC146;
    transition: width .6s;
}

.email:hover::after {
    width: 100%;
    transition: width .6s;
}


/* Portfolio */

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}



/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 10px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}

/*Facebook feed*/
.facebook {
	background-color: #38687C;
	padding: 50px;
}

.fb{
	background-color: white;
	border-radius: 20px;

}

.fbwriting {
	font-size: 20px;
	
}


